<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>__SCRIPT_PATH__</string>
        <string>__WATCH_DIR__</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__HOMEBREW_PATH__:/usr/bin:/bin</string>
    </dict>
    <key>WatchPaths</key>
    <array>
        <string>__WATCH_DIR__</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/auto-ffmpeg.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/auto-ffmpeg.err.log</string>
</dict>
</plist>
